#call {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/image-1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.call-inner {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "solo solo logo buy"
    "orga pronto . ."
    "vivo vivo . ."
    "arrow arrow arrow arrow"
    ;
    width: 90%;
    height: 100%;
}

.call-img-arrow {
    display: grid;
    justify-items: center;
    grid-area: arrow;
}

.call-inner > div span:last-child {
    display: grid;
    justify-self: right;
}

#call span {
    color: #fff;
}

.title-call {
    font-family: 'Beastly';
    font-size: calc(7.5rem + 11vw);
}

.text-call {
    font-family: 'TTHoves-Regular';
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.title-call-solo {
    grid-area: solo;
}
.text-call-1 {
    grid-area: orga;
}
.text-call-2 {
    grid-area: pronto;
}
.title-call-vivo {
    grid-area: vivo;
}
.call-logo-vertical {
    display: grid;
    justify-self: right;
    align-self: flex-end;
    grid-area: logo;
}
.call-logo-vertical img {
    margin-bottom: 10rem;
    width: 260px;
    height: 96px;
    background-color: var(--secondary-color);
    -webkit-mask-image: url(../icon/logo-vertical.svg);
    mask-image: url(../icon/logo-vertical.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
}
.call-img-buy {
    display: grid;
    justify-self: right;
    grid-area: buy;
}