#contact {
    display: grid;
    justify-items: center;
    align-content: center;
    background-color: var(--green);
    max-width: 100vw;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.contact-inner {
    display: grid;
    justify-items: center;
    /* align-content: center; */
    background-color: var(--green);
    max-width: 100vw;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    padding-top: 6rem;
}

.contact-inner-containner {
    color: var(--secondary-color);
    width: 90%;
    height: 100%;
    word-wrap: break-word;
}

.contact-logo-vertical {
    display: grid;
    justify-self: left;
    width: 425px;
    height: 156px;
    background-color: var(--secondary-color);
    -webkit-mask-image: url(../icon/logo-vertical.svg);
    mask-image: url(../icon/logo-vertical.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
}

.title-contact {
    font-family: 'Beastly';
    font-size: calc(7.5rem + 10vw);
}

.email-contact {
    font-family: 'TTHoves-Regular';
    font-size: 20px;
    text-transform: uppercase;
}

.contact-media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 50%;
}

.contact-social img {
    margin: 0 2rem;
}

.contact-social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: left;
}

.email-contact a {
    text-decoration: none;
    color: var(--secondary-color);
}

.contact-inner-containner-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.contact-inner-containner-header img {
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: grid;
    justify-self: right;
}