#home {
    position: fixed;
    top: 0;
    width: calc(100vw - (100vw - 100%));
    height: auto;
    overflow: hidden;
    z-index: 100;
}

.home-inner {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    background-color: var(--primary-color);
    grid-template-areas: 
    "buy"
    "logo"
    "arrow"
    "wave"
    ;
    width: calc(100vw - (100vw - 100%));
    height: 120vh;
}

.home-img-buy {
    width: 90%;
    display: grid;
    justify-items: right;
    grid-area: buy;
}
.home-img-logo {
    display: grid;
    justify-items: center;
    grid-area: logo;
}
.home-img-arrow {
    display: grid;
    justify-items: center;
    grid-area: arrow;
}

.anime {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100%;
    grid-area: wave;
}

#Group_7 {
    width: 100%;
    /* height: 100%; */
    display: block;
    fill: var(--color-content);
}