#home {
    display: block;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    z-index: 100;
}

.home-inner {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    background-color: var(--primary-color);
    grid-template-areas: 
    "buy"
    "logo"
    "arrow"
    "wave"
    ;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.home-img-buy {
    width: 90%;
    height: 100%;
    display: grid;
    justify-self: center;
    grid-area: buy;
}

.home-img-buy-inner {
    background-image: url(../icon/buy-now.svg);
    background-repeat: no-repeat;
    background-size: 85% 85%;
    background-position: right;
    justify-self: right;
    width: 20%;
    height: 100%;
    margin-top: 2rem;
}

.home-img-logo {
    display: grid;
    justify-items: center;
    grid-area: logo;
}
.home-img-arrow {
    display: grid;
    justify-items: center;
    grid-area: arrow;
}

.anime {
    position: relative;
    z-index: 10000;
    width: 100%;
    height: 100hw;
    grid-area: wave;
}

#Group_1, #Group_2, #Group_3 {
    position: absolute;
    z-index: 100000;
    /* top: 1px; */
    left: -25px;
}

.fp-controlArrow {
    display: none !important;
}