#lets-grow {
    background-color: var(--purple);
    max-width: 100vw;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.lets-grow-inner {
    background-color: var(--purple);
    max-width: 100vw;
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
}

.lets-grow-inner-containner {
    display: flex;
    flex-flow: column;
    margin-left: 4.375rem;
    width: 90%;
    word-wrap: break-word;
}

.title-lets-grow-1 {
    order: 1;
}
.title-lets-grow-2 {
    order: 3;
}
.text-lets-grow-1 {
    order: 2;
}
.text-lets-grow-2 {
    order: 2;
}

.lets-grow-inner-containner > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.lets-grow-inner-containner > div span:last-child {
    display: grid;
    justify-self: left;
}

.lets-grow-inner span {
    color: var(--secondary-color);
}

.title-lets-grow {
    font-family: 'Beastly';
    font-size: calc(7.5rem + 11vw);
}

.text-lets-grow {
    font-family: 'TTHoves-Regular';
    font-size: 1.25rem;
    line-height: 1.625rem;
}