@media ( max-width: 600px) {
    /* [s-] pequeno */
    .home-img-logo img {
        width: 235px;
    }
    .title-call, .title-lets-grow, .title-contact {
        font-size: 120px;
    }
    .product-info {
        justify-items: center;
        grid-template-areas: 
        "title"
        "produto"
        "subtitle"
        "info";
    }
    .product-info-inner, .product-inner-info, .contact-media {
        grid-template-columns: 1fr;
    }
    .vertical-line {
        display: none;
    }
    .product-img {
        width: 215px;
    }
    .contact-logo-vertical{
        width: 233px;
        height: 86px;
    }
    .lets-grow-inner, .contact-inner {
        margin-left: 0;
        width: 90%;
        word-wrap: break-word;
    }
    #product {
        min-height: 100vh;
        height: auto;
    }
    .product-info-sub-title {
        border-bottom: 1px solid var(--primary-color);
    }
    .product-inner-info-comp-title {
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 24px !important;
        height: 30px;
    }
    .product-inner {
        margin-left: 0;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-items: center;
    }
    .product-info-title {
        display: grid;
        justify-self: left;
        font-size: 40px;
    }
    .product-inner-info-comp {
        margin-top: 20px;
    }
    .product-inner:hover .product-content:hover .product-info {
        height: 50em;
    }
    #contact {
        display: block;
    }
    .home-inner {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo"
        "logo logo logo"
        "buy arrow ."
        ;
    }
    .home-img-buy {
        justify-items: center;
    }
    .call-inner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "solo solo solo"
        "orga orga ."
        "vivo vivo vivo"
        "pronto pronto ."
        "buy arrow ."
        ;
    }
    .call-logo-vertical {
        display: none;
    }
    .call-img-buy {
        justify-self: center;
    }
}

@media ( max-width: 600px) {
    /* [m-] medio */
    .title-call, .title-lets-grow, .title-contact {
        font-size: 120px;
    }
    
}

@media ( min-width: 992px) {
    /* [l-] largo */
    
}

@media ( min-width: 1200px) {
    /* [xl-] muito largo */
}