@media ( max-width: 600px) {
    /* [s-] pequeno */
    .home-img-logo img {
        width: 235px;
    }
    .title-call, .title-lets-grow, .title-contact {
        font-size: 120px;
    }
    .content-inner-product {
        width: 80%;
        justify-items: center;
        grid-template-areas: 
        "title"
        "produto"
        "subtitle"
        "info";
    }
    .product-info-inner, .product-inner-info, .contact-media {
        grid-template-columns: 1fr;
    }
    .vertical-line {
        display: none;
    }
    .product-img {
        width: 150px;
    }
    .contact-logo-vertical{
        width: 233px;
        height: 86px;
        margin-bottom: 50px;
    }
    .lets-grow-inner-containner {
        display: flex !important;
        flex-flow: column;
    }
    .title-lets-grow-1 {
        order: 1;
    }
    .title-lets-grow-2 {
        order: 3;
    }
    .text-lets-grow-1 {
        order: 2;
    }
    .text-lets-grow-2 {
        order: 4;
    }
    .contact-inner-containner, .lets-grow-inner-containner {
        margin-left: 0;
        width: 90%;
        display: block;
        /* margin: 0 auto; */
        padding-top: 70px;
        margin-left: 10px;
    }
    .product-inner-containner {
        min-height: 100vh;
        height: auto;
        margin-left: 0;
        width: 90%;
        /* height: 100%; */
        align-items: center;
        justify-content: center;
    }
    .product-inner-info-carac, .product-inner-info-comp span {
        font-size: 16px;
    }
    .product-info-sub-title {
        font-size: 18px;
        border-bottom: 1px solid var(--primary-color);
    }
    .product-inner-info-comp-title {
        font-size: 18px;
        border-bottom: 1px solid var(--primary-color);
        margin-bottom: 24px !important;
        height: 30px;
    }
    .product-info-title {
        display: grid;
        justify-self: left;
        font-size: 40px;
    }
    .product-inner-info-comp {
        margin-top: 20px;
    }
    .toggle:checked + .lbl-toggle + .product-info,
    .toggle-super:checked + .lbl-toggle-super + .product-info,
    .toggle-auto:checked + .lbl-toggle-auto + .product-info {
        /* max-height: 48em; */
    }
    .contact-inner {
        display: block;
    }
    .home-inner {
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo logo logo"
        "logo logo logo"
        "buy arrow ."
        ;
    }
    .home-img-buy {
        width: 100%;
        justify-items: center;
    }
    .home-img-buy img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .call-inner-containner {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "solo solo solo"
        "orga orga ."
        "vivo vivo vivo"
        "pronto pronto ."
        "buy arrow ."
        ;
    }
    .call-logo-vertical {
        display: none;
    }
    .call-img-buy {
        justify-self: center;
    }

    #fp-nav.fp-right {
        right: -14px !important;
    }
    .contact-info {
        display: flex;
        flex-direction: column-reverse;
    }
    .contact-social {
        margin-top: 20px;
    }
    .contact-social img {
        margin: 0;
    }
    .ac {
        max-height: 1000px !important;
    }
    
    .display-none-product {
        overflow: hidden !important;
        max-height: 0 !important;
    }
    .animation-product {
        display: block;
        position: fixed;
        border-radius: 50vw;
        top: 100vh;
        width: 100vw;
        height: 100vh;
        background-color: blue;
        transition: all .7s ease;
        z-index: 99999999999999999999999;
    }
    
    .animation-product-active {
        border-radius: 0;
        display: block;
        top: 0;
    }
}

@media ( max-width: 600px) {
    /* [m-] medio */
    .product-info {
        justify-items: center;
        grid-template-areas:
            "title"
            "produto"
            "subtitle"
            "info";
    }
}

@media ( max-width: 1024px) {
    /* [l-] largo */
    .product-info {
        justify-items: center;
        grid-template-areas:
            "title"
            "produto"
            "subtitle"
            "info";
    }    
    .product-inner:hover .product-content:hover .product-info {
        height: 60em;
    }
    .call-logo-vertical img {
        display: none;
    }

    .title-contact {
        font-size: calc(7.5rem + 8vw);
    }
    .product-info-title {
        font-size: 30px;
    }
}

@media ( min-width: 1200px) {
    /* [xl-] muito largo */
}