.product-inner {
    position: relative;
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: var(--tertiary-color);
    width: calc(100vw - (100vw - 100%));
    height: 100vh;
    transition: background-color 1s ease-out 50ms;
    overflow: hidden;
}

.product-inner-buy-now {
    /* display: grid;
    justify-self: right; */
    position: absolute;
    right: 4rem;
    top: 4rem;
    height: 6.5rem;
    /* margin-right: 10rem; */
    z-index: 99;
}

.product-inner-containner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--primary-color);
    width: 80%;
    
    overflow: hidden;
}

.product-title {
    font-family: 'Beastly' !important;
    font-weight: 400 !important;
    font-size: 280px !important;
    min-height: 280px;
    /* margin-bottom: 40px; */
    cursor: pointer !important;
}

.vertical-line {
    display: grid;
    justify-self: center;
    height: 200px;
    border-left: 1px solid var(--primary-color);
}

.vertical-line-secondary-color {
    border-left: 1px solid var(--secondary-color) !important;
}

.product-inner-info-carac {
    font-family: 'TTHoves-Regular';
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.content-inner-product {
    display: grid;
    grid-template-areas: 
    "title title title produto produto"
    "subtitle subtitle subtitle produto produto"
    "info info info produto produto"
    ;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

.product-img {
    grid-area: produto;
    /*width: 100%;*/
    height: auto;
}

.product-icons-retencao,
.product-icons-drenagem,
.product-icons-aeracao,
.product-icons-adubacao {
    display: inline-block;
    width: 23px;
    height: 23px;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--primary-color);
}

.product-icons-retencao {
    -webkit-mask-image: url(../icon/retencao.svg);
    mask-image: url(../icon/retencao.svg);
}

.product-icons-drenagem {
    -webkit-mask-image: url(../icon/drenagem.svg);
    mask-image: url(../icon/drenagem.svg);
}

.product-icons-aeracao {
    -webkit-mask-image: url(../icon/aeracao.svg);
    mask-image: url(../icon/aeracao.svg);
}

.product-icons-adubacao {
    -webkit-mask-image: url(../icon/adubacao.svg);
    mask-image: url(../icon/adubacao.svg);
}

.product-icons-4-star,
.product-icons-3-star,
.product-icons-2-star {
    width: 76px;
    height: 12px;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--primary-color);
}

.product-icons-4-star {
    -webkit-mask-image: url(../icon/4-star.svg);
    mask-image: url(../icon/4-star.svg);
}
.product-icons-3-star {
    -webkit-mask-image: url(../icon/3-star.svg);
    mask-image: url(../icon/3-star.svg);
}
.product-icons-2-star {
    -webkit-mask-image: url(../icon/2-star.svg);
    mask-image: url(../icon/2-star.svg);
}

.product-inner-info-carac div {
    display: grid;
    grid-template-columns: 13% 1fr 33%;
    align-items: center;
    margin-bottom: 3px;
}

.product-info-sub-title {
    grid-area: subtitle;
    display: block;
    font-family: 'TTHoves-Bold';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 1000;
    margin: 24px 0;
    align-self: center;
    color: #225439;
}
.product-inner-info-comp-title {
    display: block;
    font-family: 'TTHoves-Bold';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 1000;
}
.product-info-title {
    grid-area: title;
    display: block;
    font-family: 'TTHoves-Light';
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 1rem;
    align-self: center;
    color: #225439;
}

.product-inner-info {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-area: info;
}

.product-inner-info-comp span {
    color: #225439;
    display: block;
    font-family: 'TTHoves-Regular';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.hovered-green {
    background-color: var(--green);
}
.hovered-auto {
    background-color: var(--auto);
}

.hovered-auto .product-title-auto {
    color: var(--secondary-color) !important;
    background-position: 0%;
}

input[type='radio'] {
    display: none;
}

.product-info .content-inner-product {
    width: 100%;
}
.product-info {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .product-info,
.toggle-super:checked + .lbl-toggle-super + .product-info,
.toggle-auto:checked + .lbl-toggle-auto + .product-info {
    /* max-height: 27em; */
}

.ac.is-active .ac-panel {
    display: flex;
}

.ac.js-enabled .ac-panel{
    /* display: none; */
}


.toggle:checked + .lbl-toggle::before,
.toggle-super:checked + .lbl-toggle-super::before,
.toggle-auto:checked + .lbl-toggle-auto::before {
    transform: rotate(90deg) translateX(-3px);
}

.fp-viewing-section0-0 #fp-nav ul li .fp-tooltip,
.fp-viewing-section0-1 #fp-nav ul li .fp-tooltip {
    color: #fff;
}

.fp-viewing-section0-0 #fp-nav ul li a::before,
.fp-viewing-section0-1 #fp-nav ul li a::before {
    border-left: 1px solid #fff;
}

.fp-viewing-section0-0 #fp-nav ul li a span,
.fp-viewing-section0-1 #fp-nav ul li a span {
    background: #fff;
}

.ac .ac-trigger::after {
    display: none !important;
}

.fp-viewing-section0-0 #fp-nav ul li a.active span, .fp-viewing-section0-0 .fp-slidesNav ul li a.active span, .fp-viewing-section0-0 #fp-nav ul li:hover a.active span, .fp-viewing-section0-0 .fp-slidesNav ul li:hover a.active span,
.fp-viewing-section0-1 #fp-nav ul li a.active span, .fp-viewing-section0-1 .fp-slidesNav ul li a.active span, .fp-viewing-section0-1 #fp-nav ul li:hover a.active span, .fp-viewing-section0-1 .fp-slidesNav ul li:hover a.active span {
    background-color: #fff !important;
}

.product-title {
    position: relative;
    display: inline-block;
    color: var(--primary-color) !important;
    overflow: hidden;
    /*background: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, var(--primary-color) 50%);*/
    /*background-clip: text;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*background-size: 200% 100%;*/
    /*background-position: 100%;*/
    /*transition: background-position 275ms ease;*/
    text-decoration: none;
    
}
/*.product-title:hover {*/
/*    background-position: 0 100%;*/
/*}*/

.ac {
    border: none !important;
    background-color: transparent !important;
    position: absolute !important;
    left: 0;
    top: 0;
    min-height: 100vh;
    z-index: 999999999999999999999;
    background-color: #eadaca !important;
    padding-left: 2rem;
    width: calc(100vw - 120px);
}

.ac .ac-trigger {
    padding: 0 !important;
    outline: none !important;
    line-height: 160px !important;
}

.ac .js-enabled {
    outline: none !important;
}

.product-img-mobile {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.produto-menu {
    /* display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    left: 0;
    top: 0; */
}
.produto-menu .product-title {
    line-height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 200px;
    display: block;
}

.product-new-title {
    color: var(--primary-color) !important;
    font-family: 'Beastly' !important;
    font-weight: 400 !important;
    font-size: 20px !important;
    display: block;
    /* background-color: #000; */
    width: 70vw;
}
.animation-product {
    display: block;
    position: fixed;
    border-radius: 50vw;
    top: 100vh;
    width: 100vw;
    height: 100vh;
    transition: all 1s ease;
   
    background-color: var(--secondary-color);
}

.animation-product-active {
    border-radius: 0;
    display: block;
    background-color: var(--secondary-color);
    top: 0;
    z-index: 99999999999999999999999;
} 