#product {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: var(--tertiary-color);
    width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
        height: auto;
    transition: background-color 1s ease-out 50ms;
}

.product-inner {
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: var(--tertiary-color);
    width: calc(100vw - (100vw - 100%));
    min-height: 100vh;
        height: 100vh;
    transition: background-color 1s ease-out 50ms;
    overflow: hidden;
}

.product-inner-containner {
    display: grid;
    justify-items: left;
    align-items: center;
    /* margin-left: 4.375rem; */
    color: var(--primary-color);
    width: 90%;
    height: 100%;
}

.product-title {
    font-family: 'Beastly';
    font-weight: 400;
    font-size: calc(4.5rem + 10vw);
    margin-bottom: 40px;
    cursor: pointer;
}

.vertical-line {
    display: grid;
    justify-self: center;
    height: 200px;
    border-left: 1px solid var(--primary-color);
}

.vertical-line-secondary-color {
    border-left: 1px solid var(--secondary-color);
}

.product-inner-info-carac {
    font-family: 'TTHoves-Regular';
    font-size: 20px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.product-info .content-inner-product {
    display: grid;
    grid-template-areas: 
    "title title title produto produto"
    "subtitle subtitle subtitle produto produto"
    "info info info produto produto"
    ;
    width: 100%;
    word-wrap: break-word;
}

.product-img {
    grid-area: produto;
    width: 100%;
    height: auto;
}

.product-icons-retencao,
.product-icons-drenagem,
.product-icons-aeracao,
.product-icons-adubacao {
    display: inline-block;
    width: 23px;
    height: 23px;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--primary-color);
}

.product-icons-retencao {
    -webkit-mask-image: url(../icon/retencao.svg);
    mask-image: url(../icon/retencao.svg);
}

.product-icons-drenagem {
    -webkit-mask-image: url(../icon/drenagem.svg);
    mask-image: url(../icon/drenagem.svg);
}

.product-icons-aeracao {
    -webkit-mask-image: url(../icon/aeracao.svg);
    mask-image: url(../icon/aeracao.svg);
}

.product-icons-adubacao {
    -webkit-mask-image: url(../icon/adubacao.svg);
    mask-image: url(../icon/adubacao.svg);
}

.product-icons-4-star,
.product-icons-3-star,
.product-icons-2-star {
    width: 76px;
    height: 12px;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--primary-color);
}

.product-icons-4-star {
    -webkit-mask-image: url(../icon/4-star.svg);
    mask-image: url(../icon/4-star.svg);
}
.product-icons-3-star {
    -webkit-mask-image: url(../icon/3-star.svg);
    mask-image: url(../icon/3-star.svg);
}
.product-icons-2-star {
    -webkit-mask-image: url(../icon/2-star.svg);
    mask-image: url(../icon/2-star.svg);
}

.product-inner-info-carac div {
    display: grid;
    grid-template-columns: 36px 220px 80px;
    align-items: center;
    margin-bottom: 3px;
}

.product-info-sub-title {
    grid-area: subtitle;
    display: block;
    font-family: 'TTHoves-Bold';
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 1000;
    margin: 24px 0;
}
.product-info-title {
    grid-area: title;
    display: block;
    font-family: 'TTHoves-Light';
    font-size: 70px;
    text-transform: uppercase;
    margin: 24px 0 24px 0;
}

.product-inner-info {
    display: grid;
    grid-template-columns: 1fr 60px 1fr;
    grid-area: info;
}

.product-inner-info-comp span {
    display: block;
    font-family: 'TTHoves-Regular';
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

#product.hovered-green {
    background-color: var(--green);
}
#product.hovered-auto {
    background-color: var(--auto);
}

input[type='radio'] {
    display: none;
}

.product-info .content-inner-product {
    width: 100%;
}
.product-info {
    max-height: 0px;
    overflow: hidden;

    transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .product-info,
.toggle-super:checked + .lbl-toggle-super + .product-info,
.toggle-auto:checked + .lbl-toggle-auto + .product-info {
    max-height: 30em;
}
.toggle:checked + .lbl-toggle::before,
.toggle-super:checked + .lbl-toggle-super::before,
.toggle-auto:checked + .lbl-toggle-auto::before {
    transform: rotate(90deg) translateX(-3px);
}